.grow__icon_analytics_highlight {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwaDI0djI0SDBWMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNMTIgMkM2LjUgMiAyIDYuNSAyIDEyczQuNSAxMCAxMCAxMCAxMC00LjUgMTAtMTBTMTcuNSAyIDEyIDJ6bTEgMi4wN2MzLjYxLjQ1IDYuNDggMy4zMyA2LjkzIDYuOTNIMTNWNC4wN3pNNCAxMmMwLTQuMDYgMy4wNy03LjQ0IDctNy45M3YxNS44N2MtMy45My0uNS03LTMuODgtNy03Ljk0em05IDcuOTNWMTNoNi45M2MtLjQ1IDMuNjEtMy4zMiA2LjQ4LTYuOTMgNi45M3oiLz48L3N2Zz4=);
}

.grow_tool__analytics_highlight__notice {
  display: none;
}

.grow_tool__analytics_highlight__notice > div {
  display: flex;
  flex-flow: row;
}

.grow_tool__analytics_highlight__notice > div > div {
  flex-basis: 50%;
  flex-grow: 1;
  padding: .5em 1em;
}

.grow_tool__analytics_highlight__notice h2 {
  font-size: 16px;
  font-weight: bold;
  margin: .5em 0;
}

.grow_tool__analytics_highlight__notice p {
  margin: .5em 0;
}

.grow_tool__analytics_highlight--active .grow_tool__analytics_highlight__notice {
  display: block;
}
